# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# build outputs
/build
/dist

# editor directories and files
.DS_Store
.idea
.next
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.vspscc
.npmrc
.yarn/
.cache/
.eslintcache

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local